<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{{ asset('assets/css/pole.css') }}">

    <!-- ===== BOX ICONS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>Conditions Générales d'Utilisation • Generation Boomerang</title>
</head>
<body>
<!--===== HEADER =====-->
<header class="header__pole header__condition">
    <nav class="nav__pole">
        <div>
            <a href="#" class="nav__logo-pole">Conditions d'Utilisations</a>
        </div>

        <div class="nav__menu-pole" id="nav-menu">
            <ul class="nav__list-pole">
                <li class="nav__item-pole"><a href="#condition" class="nav__link-pole nav__link-condition">Conditions</a></li>
                <li class="nav__item-pole"><a href="#propriete" class="nav__link-pole nav__link-condition">Propriété</a></li>
                <li class="nav__item-pole"><a href="#traitement" class="nav__link-pole nav__link-condition">Traitement</a></li>
                <li class="nav__item-pole"><a href="#utilisateur" class="nav__link-pole nav__link-condition">Utilisateurs</a></li>
                <li class="nav__item-pole"><a href="{{ path('home') }}" class="nav__link-pole nav__link-condition">Generation Boomerang<small>©</small></a></li>
            </ul>
        </div>

        <div class="nav__toggle-pole" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<main>
    <!--===== HOME =====-->
    <section class="home home__condition" id="home">
        <div class="home__container grid">
            <h1 class="home__title">Condition <br>d'utilisations <br><span>Generation Boomerang<small>©</small></span></h1>

        </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about" id="condition">
        <h2 class="section__title-pole section__title-condition">Conditions de participations</h2>

            <div>
                <p class="about__text-condition">L'Utilisateur accepte sans aucune réserve les termes des présentes conditions d'utilisation.
                    <br><br>
                    Le Service est ouvert à toute personne ayant été autorisée à participer par son employeur (ce dernier étant défini comme le « Client »), ou toute personne ayant été invitée par Generation Boomerang.
                    <br><br>
                    L'Utilisateur s'engage à faire preuve de loyauté et de courtoisie à l'égard des autres Utilisateurs.
                    <br><br>
                    Dans le cas où un Utilisateur contreviendrait à l'une quelconque de ses obligations, Generation Boomerang se réserve le droit d'exclure ledit Utilisateur.
                    <br><br>
                    Generation Boomerang pourra, dans le cadre de dépôt de projets sur sa plateforme, exercer un contrôle, tant sur le fond que sur la forme, relativement au projet déposé. Generation Boomerang pourra notamment demander à l'Utilisateur de reformuler, autant de fois que nécessaire, le contenu de son projet, afin que ce dernier soit conforme à toute loi ou tout règlement applicable. Ce contrôle portera notamment afin d'interdire tout contenu diffamant, injurieux, raciste, discriminant, pédopornographique, ….</p>
            </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about" id="propriete">
        <h2 class="section__title-pole section__title-condition">Propriété intellectuelle</h2>

            <div>
                <h2 class="about__subtitle-condition about__subtitle-condition">Propriété intellectuelle issue des échanges</h2>
                <p class="about__text-condition">Toutes les créations originales, inventions, bases de données, dénominations, marques ou autres signes distinctifs ne peuvent être utilisés, reproduits et représentés par l'Utilisateur que :<br>
                    <br>•	S'il détient les droits sur ces éléments ;<br>
                    <br>•	Si ces éléments sont libres de droit ;<br>
                    <br>•	S'il y est autorisé par celui qui détient les droits sur ces éléments (par un Client, par exemple).<br>
                    <br>Toutes les créations originales, base de données, dénominations, marques ou autres signes distinctifs présents sur les pages de la plateforme demeurent la propriété exclusive de leur auteur ou de leur déposant. Cependant la reproduction et la représentation de tout ou partie de ces éléments sont autorisés à titre gracieux dans le strict cadre de la participation à l'activité de la Plateforme.
                    <br>
                    Generation Boomerang n'exerce aucun contrôle sur la propriété des éléments et/ou échangés sur la plateforme. <br>
                    En aucun cas Generation Boomerang ne pourra voir sa responsabilité engagée par l'Utilisateur ou tout tiers concernant une question relative à la propriété intellectuelle des projets et/ou de solutions issues des projets. Les risques relatifs à la propriété intellectuelle et assimilés sont assumés exclusivement par l'Utilisateur etson employeur (Client) au sein des projets auxquels les Utilisateurs participent.
                    <br>
                    Sauf disposition contraire prévue dans un accord séparé :<br>
                    <br>•	l'Utilisateur reste propriétaire des connaissances sur lesquelles il a des droits antérieurs ;<br>
                    <br>•	l'Utilisateur reste propriétaire des connaissances nouvelles qui lui sont attribuables dans le cadre des projets ;<br>
                    <br>•	 dans l'hypothèse où des résultats nouveaux ne constituant ni une œuvre de l'esprit, ni une invention, sont obtenus dans le cadre des projets, l'Utilisateur reste propriétaire des résultats nouveaux qui lui sont attribuables dans le cadre desdits projets ;<br>
                    <br>•	 toute œuvre de l'esprit, créée dans le cadre d'un Projet réunissant plusieurs contributions, sera qualifiée d'œuvre de collaboration au sens de l'article L113-2 du Code de Propriété Intellectuelle.
                    <br>
                    <br>
                    Afin de déroger aux principes de la Plateforme, il revient aux Utilisateurs de mettre en place une convention de partenariat qui régira les droits et obligations de chaque Utilisateur intervenant au projet. Generation Boomerang attire l'attention sur l'importance d'établir un tel accord lorsque ce projet est susceptible de donner naissance à des connaissances nouvelles, des inventions, des œuvres de l'esprit, du savoir-faire ou tout résultat nouveau de manière générale. Generation Boomerang propose des modèles de contrats aux porteurs de projets, qu'ils peuvent librement amender et proposer aux contributeurs intervenant sur leurs projets. Ces contrats sont proposés à titre indicatif et n'engagent en rien Generation Boomerang. Dans le cas où les Utilisateurs, membres d'une équipe projet, ne parviennent pas à un accord, Generation Boomerang pourra intervenir en tant que médiateur. A défaut de résolution, Generation Boomerang se réserve le droit d'exclure un Utilisateur du projet concerné, ou d'exclure le projet de la Plateforme dans son ensemble.
                    Generation Boomerang n'a aucun droit de préférence ou de priorité sur une éventuelle collaboration ou exploitation commerciale ou non commerciale des projets. Chaque Utilisateur porteur de projet fait son affaire de l'exploitation future potentielle de son projet, en accord avec les autres Utilisateurs participants.</p>

                <h2 class="about__subtitle-condition about__subtitle-condition">Propriété intellectuelle attachée à l'utilisation de Plateforme</h2>
                <p class="about__text-condition">Generation Boomerang, ou tout tiers qu'il représente, et avec lequel un contrat a été signé, est et demeure titulaire des droits de propriété relatifs à tout élément de la Plateforme mise à disposition du Client, ainsi que plus généralement de l'infrastructure logicielle mise en œuvre ou développée dans le cadre du Contrat.
                    <br><br>
                    Le Contrat ne confère au Client aucun droit de propriété sur la Plateforme. <br><br>
                    La mise à disposition temporaire de la Plateforme dans les conditions prévues au Contrat ne saurait être analysée comme la cession d'un quelconque droit de propriété intellectuelle au bénéfice du Client, au sens du Code français de la propriété intellectuelle.
                    <br><br>
                    Le Client s'interdit de reproduire tout élément des Logiciels, ou toute Documentation les concernant, par quelque moyen que ce soit, sous quelque forme que ce soit et sur quelque support que ce soit.
                    <br><br>
                    Le Client ne pourra céder tout ou partie des droits et obligations résultant du Contrat, que ce soit dans le cadre d'une cession temporaire, d'une sous-licence et de tout autre contrat prévoyant le transfert desdits droits et obligations.</p>

                <h2 class="about__subtitle-condition about__subtitle-condition">Propriété intellectuelle des éléments présents sur le site</h2>
                <p class="about__text-condition">Tous les éléments qui composent le site www.Generation Boomerang.io et sa Plateforme, et notamment des marques, logos, textes, données, dessins, graphiques, photos, animations, sons, codes informatiques, agencements, assemblages de tout ou partie d'un élément du site, y compris des documents téléchargeables, sont et restent notre propriété ou celle de nos ayants droit.
                    <br><br>
                    L'ensemble des contenus du site internet et de la Plateforme (images, textes, vidéos, base de données…) sont soumis à la législation française et internationale en vigueur en matière de propriété intellectuelle (droit d'auteur, droit des marques, droit des bases de données, etc.). Si vous constatez que des éléments publiés sur le site ou la plateforme portent atteinte à des droits d'auteur ou autres droits protégés, merci de contacter Generation Boomerang à l'adresse suivante : support@Generation Boomerang.io.
                    <br><br>
                    Nous ne vous concédons qu'une autorisation de visualisation du contenu de notre site à titre personnel et privé, à l'exclusion de toute visualisation ou diffusion publique. L'autorisation de reproduction ne vous est concédée que sous forme numérique sur votre ordinateur de consultation aux fins de visualisation des pages consultées par votre logiciel de navigation. Toute autre utilisation (telle que notamment reproduction des marques et logos, extraction de tout ou partie des bases de données, etc.) est interdite sans notre autorisation préalable et expresse.</p>
            </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about" id="traitement">
        <h2 class="section__title-pole section__title-condition">Traitement des données</h2>

        <div>
            <p class="about__text-condition">Il ressort de l'article 5 du Contrat-cadre signé avec le Client les définitions et obligations suivantes :
                <br><br>
                « Données à Caractère Personnel » désigne toute information se rapportant à une personne physique identifiée ou identifiable (ci-après dénommée « Personne Concernée ») ; est réputée être une personne physique identifiable une personne physique qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale.
                <br><br>
                « Responsable de Traitement » désigne Generation Boomerang qui, seul, détermine les finalités et les moyens du traitement des Données à Caractère Personnel.
                <br><br>
                « Sous-Traitant » désigne l'entité qui agit pour le compte du Responsable de Traitement.
                <br><br>
                « Transfert de Données à Caractère Personnel » désigne le traitement, le transfert matériel ou l'accès à distance aux Données à Caractère Personnel de personnes établies hors de l'espace économique européen (EEE).
                <br><br>
                « Violation de Données à Caractère Personnel » désigne une violation de la sécurité entraînant, de manière accidentelle ou illicite, la destruction, la perte, l'altération, la divulgation non autorisée ou l'accès aux Données à Caractère Personnel du Client transmises, conservées ou autrement traitées.
                <br><br>
                Pour exécuter le Contrat et/ou fournir les Services commandés, Generation Boomerang peut être amené à traiter des Données à Caractère Personnel concernant les Utilisateurs du Client, ou le Client (ci-après les « Personnes Concernées »), notamment. Ces Données à Caractère Personnel sont particulièrement sensibles pour l'image et le patrimoine des Personnes Concernées.
                <br><br>
                Les Personnes Concernées, ainsi que Generation Boomerang, s'engagent à collecter et à traiter toute Donnée à Caractère Personnel en conformité avec toute réglementation en vigueur applicable au traitement de ces données, et notamment à la loi n°78-17 du 6 janvier 1978 modifiée.
                <br><br>
                Generation Boomerang doit garantir la mise en oeuvre de mesures techniques et organisationnelles appropriées pour assurer la sécurité des Données à Caractère Personnel et empêcher tout traitement non autorisé ou illégal des Données à Caractère Personnel et toute perte, destruction ou dommage accidentel aux Données à Caractère Personnel.
                <br><br>
                Au regard de cette loi, le Client est responsable du Traitement réalisé au titre du Contrat.
                <br><br>
                Dans le cadre du présent contrat, Generation Boomerang agissant en tant que sous-traitant au sens de la loi n°78-17 du 6 janvier 1978 s'engage à :
                <br><br>
                •	 Respecter l'ensemble des obligations de Sécurité qui lui incombent au titre de l'article 34 de loi n°78-17 du 6 Janvier 1978 ;
                <br><br>
                •	 Generation Boomerang prendra, et s'assure que son personnel prend, dans la mesure nécessaire à l'exécution des prestations ou au respect de ses autres obligations contractuelles, toute mesure nécessaire pour préserver et faire respecter l'intégrité et la confidentialité des Données Personnelles transmises par le Client ;
                <br><br>
                •	Ne traiter les données à caractère personnel du Client que conformément aux instructions écrites du Client ;
                <br><br>
                •	 Se conformer et s'assurer que ses partenaires, ses sous-traitants ou toute personne agissant sous son autorité ou pour son compte se conforment aux mêmes obligations précitées ;
                <br><br>
                •	 Ne pas divulguer à des tiers, et ce y compris aux sous-traitants ou partenaires de Generation Boomerang, en dehors des cas prévus par une disposition légale ou réglementaire;
                <br><br>
                •	 Tenir à disposition des Clients ou Utilisateurs le registre compilant l'ensemble des traitements gérés par Generation Boomerang, via l'adresse courriel rgpd@Generation Boomerang.io.
                <br><br>
                Sous-traitance et lieux de traitement
                <br><br>
                Generation Boomerang s'engage à informer le Client de la localisation des lieux de traitements de Données Personnelles de quelque nature qu'ils soient (hébergement, backup, maintenance, administration, helpdesk…).
                <br><br>
                A cet effet, Generation Boomerang s'engage à mettre à la charge de son (ou ses) Sous-traitant(s) toutes obligations prévues par le présent Contrat.
                <br><br>
                En cas de transfert de Données Personnelles vers un pays tiers, Generation Boomerang s'engage à faire signer à ses Sous-traitants les clauses contractuelles types selon les modalités prévues par décision de la Commission Européenne, pour le transfert de Données Personnelles vers des Sous-traitants établis dans des pays tiers.
                <br><br>
                Conservation des Données Personnelles
                <br><br>
                Au terme du Contrat, Generation Boomerang s'engage à restituer ou à détruire, à faire restituer et à faire détruire par tous ses partenaires ou Sous-traitants intervenant dans la réalisation des Services commandés, selon des procédés et modalités convenus préalablement entre les Parties, toutes les Données Personnelles du Client traitées pour le compte du Client de manière automatisée ou manuelle. Le Client se réserve le droit de procéder à toute vérification permettant d'évaluer le respect de cette obligation.
                <br><br>
                Le présent article survivra à la résiliation ou à l'expiration du Contrat pour quelque cause que ce soit.
                <br><br>
                Si les Données transmises aux fins d'utilisation des Services commandés comportent des Données Personnelles, le Client garantit au Generation Boomerang qu'il a procédé à l'ensemble des obligations qui lui incombent au terme de la loi du 6 janvier 1978 dite « Informatique & Libertés », et qu'il a informé les personnes physiques concernées de l'usage qui est fait desdites Données Personnelles.
                <br><br>
                A ce titre, le Client garantit Generation Boomerang contre tout recours, plainte ou réclamation émanant d'une personne physique dont les données personnelles seraient reproduites et hébergées via les Services commandés.
                <br><br>
                Exploitation des données
                <br><br>
                Le Client assure la responsabilité éditoriale de l'utilisation de la Plateforme par ses utilisateurs désignés.
                <br><br>
                Le Client est seul responsable de la qualité, de la licéité, de la pertinence des Données et contenus qu'il transmet via ses Utilisateurs aux fins d'utilisation des Services commandés.
                <br><br>
                Il garantit en outre être titulaire des droits de propriété intellectuelle lui permettant d'utiliser les Données et contenus.
                <br><br>
                En conséquence, Generation Boomerang dégage toute responsabilité en cas de non-conformité des Données et/ou des contenus aux lois et règlements, à l'ordre public ou encore aux besoins du Client.
                <br><br>
                Le Client garantit Generation Boomerang à première demande contre tout préjudice qui résulterait de sa mise en cause par un tiers pour une violation de cette garantie.
                <br><br>
                Plus généralement, Le Client est seul responsable des contenus et messages diffusés et/ou téléchargés via les Services commandés, par ses Utilisateurs.
                <br><br>
                Generation Boomerang s'engage à respecter toute règlementation en matière de protection de données qui pourrait être applicable pour l'exécution du Contrat et en particulier (i) la Directive n°95/46 relative à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données (Directive UE sur les Protection des Données), (ii) le Règlement européen n°2016/679 relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données à compter de sa date d'application et ses compléments en droit national, et (iii) toute réglementation relative aux traitements de Données à Caractère Personnel applicable pendant la durée du Contrat (« Législation Applicable en matière de Protection des Données »).
                <br><br>
                Generation Boomerang doit garantir la mise en œuvre de mesures techniques et organisationnelles appropriées pour assurer la sécurité des Données à Caractère Personnel et empêcher tout traitement non autorisé ou illégal des Données à Caractère Personnel et toute perte, destruction ou dommage accidentel aux Données à Caractère Personnel.
                <br><br>
                Par ailleurs, Generation Boomerang est tenu de :
                <br><br>
                •	 Mettre en place des procédures pour assurer les Personnes Concernées de la conformité de Generation Boomerang à la législation applicable en matière de Protection des Données ;
                <br><br>
                •	 Dans la limite de ce qu'autorise la loi applicable, informer les Personnes Concernées de toute demande de communication des Données à Caractère Personnel qu'il recevrait d'un tiers, autorités publiques ou juridictions, et concernant les Personnes Concernées ;
                <br><br>
                •	 S'assurer que ses collaborateurs et ses sous-traitants sont en conformité avec la législation applicable en matière de Protection des Données, avec les mêmes obligations que celles définies ci-dessous et avec des obligations de confidentialité renforcées en garantissant qu'ils concluent un accord de confidentialité spécifique ;
                <br><br>
                •	 S'assurer que l'accès aux Données est limité aux collaborateurs de Generation Boomerang ayant strictement besoin d'en connaître ; l'accès étant limité aux Données nécessaires à l'accomplissement des obligations contractuelles par Generation Boomerang ; ses collaborateurs et ceux de ses sous-traitants ;
                <br><br>
                •	 S'assurer que tous les collaborateurs de Generation Boomerang et de ses sous-traitants qui ont accès aux Données sont dûment formés à leurs obligations lorsqu'ils traitent les Données à Caractère Personnel et notamment à celles relatives à la confidentialité de ces Données ;
                <br><br>
                •	 Mettre en place une procédure pour s'assurer qu'il informe les Personnes Concernées sans retard injustifié des demandes et/ou plaintes de personnes concernées qu'il recevrait concernant les Données à Caractère Personnel. En tout état de cause, Generation Boomerang s'engage à ne pas revenir vers les personnes concernées au sujet des Données à Caractère Personnel desdites Personnes Concernées sans leur accord exprès préalable. Generation Boomerang doit coopérer pleinement avec les Personnes Concernées pour toute demande effectuée par toute personne souhaitant avoir accès à des Données à Caractère Personnel ;
                <br><br>
                •	 S'engager à auditer de manière régulière ses Sous-traitants concernant les traitements de Données à Caractère Personnel des Personnes Concernées. Generation Boomerang doit ensuite fournir aux Personnes Concernées, sur demande, un rapport complet des audits conduits pour démontrer que les Données à Caractère Personnel sont traitées conformément aux obligations définies dans le Contrat et les conditions définies et approuvées par les Personnes Concernées dans le présent Contrat ;
                <br><br>
                •	 Coopérer activement avec les Personnes Concernées pour leur permettre d'évaluer et documenter la conformité des traitements de Données à Caractère Personnel résultant du présent Contrat.
                <br><br>
                Lorsque Generation Boomerang entend se fonder sur les entités de son groupe situées dans des pays hors de l'espace économique européen ou sur ses sous-traitants, il doit :
                <br><br>
                •	 Ne pas transférer de Données à Caractère Personnel hors de l'Espace Economique Européen sans l'accord préalable et exprès des Personnes Concernées ;
                <br><br>
                •	 Notifier les Personnes Concernées avec un préavis raisonnable et comprenant toutes les informations pertinentes concernant la finalité d'un tel transfert et le pays où les Données à Caractère Personnel des Personnes Concernées seraient transférées.
                <br><br>
                Dans le cas où Generation Boomerang a des raisons raisonnables de croire qu'il y a eu un accès non autorisé ou illégal potentiel ou effectif, ou une utilisation ou divulgation potentielle ou effective des Données à Caractère Personnel de Personnes Concernées, Generation Boomerang doit en informer les Personnes Concernées sans retard injustifié après la constatation de cette Violation de Données à Caractère Personnel et en tout état de cause dans les vingt-quatre (24) heures suivant la constatation de cette Violation de Données à Caractère Personnel.
                <br><br>
                Dans de telles circonstances, Generation Boomerang s'engage à partager au moins les informations suivantes avec les Personnes Concernées :
                <br><br>
                •	 L'identité et les coordonnées du délégué à la protection des données ou d'un autre point de contact auprès de qui plus d'informations peuvent être obtenues ;
                <br><br>
                •	 La nature de la Violation de Données à Caractère Personnel, y compris les catégories de Personnes Concernées, les catégories d'enregistrements de données concernées ;
                <br><br>
                •	 Une description des mesures que les Personnes Concernées pourrait prendre pour en atténuer les éventuelles conséquences négatives de la Violation de Données à Caractère Personnel ;
                <br><br>
                •	Les conséquences de la Violation de Données à Caractère Personnel ;
                <br><br>
                •	Les mesures proposées ou prises pour remédier à la Violation de Données à Caractère Personnel.</p>
        </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about" id="utilisateur">
        <h2 class="section__title-pole section__title-condition">Responsabilité des utilisateurs</h2>

        <div>
            <p class="about__text-condition">Il est entendu que les Clients et les Utilisateurs, dans le cas où ces derniers viendraient à créer et/ou à traiter des données à caractère personnel, seront responsables de l'utilisation ainsi que du traitement de ces données. La responsabilité de Generation Boomerang se limitera en effet aux données dont Generation Boomerang est responsable.</p>
        </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about" id="condition">
        <h2 class="section__title-pole section__title-condition">Respect de la confidentialité des informations</h2>

        <div>
            <p class="about__text-condition">Dans le cadre de son utilisation de la plate-forme, les Utilisateurs s'engagent à ne pas échanger ou divulguer des informations considérées comme confidentielles, notamment celles dont les Utilisateurs pourraient avoir connaissance en raison de l'application de leur contrat de travail avec leur employeur, sans l'autorisation de ce dernier.</p>
        </div>
    </section>

    <!--===== ABOUT =====-->
    <section class="about" id="condition">
        <h2 class="section__title-pole section__title-condition">Modification des conditions d'utilisation</h2>

        <div>
            <p class="about__text-condition">Les modifications et amendements apportés aux présentes conditions générales seront notifiés par le biais de newsletters.
                <br><br>
                Les conditions d'utilisation applicables sont celles disponibles en ligne au jour de l'utilisation de la plateforme par l'utilisateur.</p>
        </div>
    </section>
</main>

<!--===== FOOTER =====-->
<footer class="footer footer__condition">
    <div class="footer__container grid">
        <div class="footer__data">
            <h2 class="footer__title">Conditions d'utilisations</h2>
            <p class="footer__text">À accepter pour faire partie de la Generation Boomerang<small>©</small></p>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">Explorer</h2>
            <ul>
                <li><a href="#condition" class="footer__link footer__link-condition">Conditions</a></li>
                <li><a href="#propriete" class="footer__link footer__link-condition">Propriété</a></li>
                <li><a href="#traitement" class="footer__link footer__link-condition">Traitement</a></li>
                <li><a href="#utilisateur" class="footer__link footer__link-condition">Utilisateurs</a></li>
            </ul>
        </div>

        <div class="footer__data">
            <h2 class="footer__title">Suivez-nous</h2>
            <a href="#" class="footer__social footer__social-condition"><i class='bx bxl-facebook' ></i></a>
            <a href="#" class="footer__social footer__social-condition"><i class='bx bxl-instagram' ></i></a>
            <a href="#" class="footer__social footer__social-condition"><i class='bx bxl-twitter' ></i></a>
        </div>


    </div>
</footer>

<!--===== SCROLL REVEAL =====-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--===== MAIN JS =====-->
<script src="{{ asset('assets/js/pole.js') }}"></script>
</body>
</html>