{% extends 'admin.html.twig' %}
{# {% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">{% endblock %} #}

{% block title %}Administration • Generation Boomerang{% endblock %}

{% block content %}
	<section class="category">
        <h1 class="section__title">Bienvenue sur la page de Statistique</h1>
        <h3 class="section__subtitle">C'est dans cet espace que vous allez pouvoir voir les Statistique générale & détaillé.</h3>

        <div class="article__menu">
            <a href="" class="article__menu-back"><span>Mettre à jour tous les Utilisateurs</span></a>
        </div>
	</section>
{% endblock %}

{% block JavaScript %}

{% endblock %}