{% extends 'admin.html.twig' %}
{# {% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">{% endblock %} #}

{% block title %}Administration • Generation Boomerang{% endblock %}

{% block content %}
	<section class="category">
	</section>
{% endblock %}

{% block JavaScript %}

{% endblock %}