{% extends 'admin.html.twig' %}

{% block title %}Modifier un commentaire • Generation Boomerang{% endblock %}
{% block content %}
    <section class="article">
        <h1 class="section__title">Modifier un commentaire</h1>
        <h3 class="section__subtitle">C'est dans cet espace que vous allez pouvoir modifier un commentaire</h3>

        <div class="article__menu">
            <a href="{{ path('articles') }}" class="article__menu-back"><i class='bx bx-arrow-back' ></i> <span>retour aux articles</span></a>
        </div>

        <div class="article__user-container">
            <div class="article__add">
                {{ form_start(form, {'attr' : {'class' : 'article__add-form'} }) }}

                <div class="article__form-content article__form">
                    <span></span>
                    {{ form_widget(form.content) }}
                </div>
                <button class="article__form-button" type="submit">Mettre à jour</button>
                
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

