<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Accès refusé</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/css/error.css') }}" />
</head>
<body>
<div class="error__img">
    <img src="{{ asset('assets/img/logo2.png') }}" alt="Generation Boomerang">
</div>
<a href="{{ path('home') }}">
    <div class="error__text">
        <div class="error__text-line">
            <p></p>
            <p>Erreur 403</p>
        </div>
        <div class="error__text-line">
            <p>Erreur 403</p>
            <p>Accès</p>
        </div>
        <div class="error__text-line">
            <p>Accès</p>
            <p>Refusé</p>
        </div>
        <div class="error__text-line">
            <p>Refusé</p>
            <p>Cliquez ici</p>
        </div>
        <div class="error__text-line">
            <p>Cliquez ici</p>
            <p></p>
        </div>
    </div>
</a>
</body>
</html>